<!DOCTYPE HTML>
<html>
<head>
<title>快付通力之付交易</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex,follow">
<!--公共CSS Framework-->
<link rel="stylesheet" type="text/css" href="../../../../styles/front/base.css">
<!--[if lt IE 8]><link rel="stylesheet" href="../../../../styles/common/ie.css" type="text/css" media="screen, projection"><![endif]-->
<!--公共jquery js-->
<script type="text/javascript" src="../../../../scripts/common/jquery-1.7.1.min.js"></script>
<!--end if-->
<!--前台公共js-->
<!--[if lt IE 9]>
    <script type="text/javascript" src="../../../../scripts/front/html5.js"></script>
<![endif]-->
<!--end if-->
</head>
<body>
<!--header-->
<header>
  <div class="container height80 hidden">
    <h1 class="left"><a href="#" title="" target="_blank"><img src="../../../../images/front/logo1.gif" alt="" border="0"></a></h1>
    <div class="right toptip"><a href="login.html" title="登录">登录</a> | <a href="zhuce.html" title="注册">注册</a> | <a href="#" title="帮助中心">帮助中心</a></div>
    <div class="clear"></div>
  </div>
  <!--menu-->
  <menu>
    <nav class="container"> <a href="index.html" title="首页" class="actived">首 页</a><a href="#" title="支付服务">支付服务</a><a href="#" title="解决方案">解决方案</a><a href="#" title="安全保障">安全保障</a><span>客服热线：400-100-2323</span> </nav>
  </menu>
  <!--end menu--> 
  <!--submenu--> 
</header>
<!--end header-->
<style type="text/css">
.notice{margin:30px 0; padding-left:80px; padding-top:20px; background-image:url(../../../../images/front/error2.png); background-position:left top; background-repeat:no-repeat}
.notice a{color:#0077ff; font-size:14px}
</style>
<!--middle content-->
<div class="container">
  <div class="notice"><strong class="">抱歉，由于网络系统的原因，您暂时无法使用当前服务，请稍候再使用</strong>
    <p>相关操作：<a href="#" class="cor8" title="返回快付通首页">返回快付通首页</a></p>
  </div>
</div>
<!--end middle--> 
<!--footer-->
<footer>
  <p align="center" class="copyright">© 2008 - 2011.深圳市快付通金融网络科技服务有限公司版权所有 粤ICP备10228891号</p>
  <p align="center"><img alt="" src="../../../../images/front/safe.jpg" /></p>
</footer>
<!--end footer-->
</body>
</html>
