<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			 http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="com.rda.service.consumer"/>
	<dubbo:registry protocol="zookeeper" address="127.0.0.1:19555" />
	<dubbo:protocol name="dubbo" port="20880" />
	<dubbo:monitor address="localhost:7070"></dubbo:monitor>
	
 	 <!-- which service to consume? -->
    <dubbo:reference id="demoService" interface="com.rda.services.DemoService" />
</beans>